@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Yellowtail&display=swap');

.alex-brush-regular {
    font-family: "Alex Brush", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
}

* {
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(73, 61, 4);
    margin-left: 100px;
    margin-right: 100px;
}

body {
    zoom: 110%;
    
}


/* Comienzo de magia------------------------------------------------------------------------------------------------------------------------- */

.start {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url("../images/images/fondo_de_pagina.png");
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.start {
    animation-duration: 2s;
    animation-name: slide-in;
    animation-iteration-count: 1;
    animation-direction: initial;
}

@keyframes slide-in {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.start .section-container {
    max-width: 20000px;
    height: 5000px;
    margin: auto;
    text-align: center;
    padding: 0px 10px;
}

.start .section-container header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}


/* Menu cerrado-----------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------*/
.start .section-container header .nav-bar {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #546455;
    font-size: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #3a4b3b 0.06px solid;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
    font-size: 15px;
    box-shadow: 2px 2px 20px 5px rgba(67 68 52 / 78%);
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.start .section-container header .nav-bar:hover {
    box-shadow: 0 0 20px #fff;
    width: 101px;
    height: 101px;
    border-radius: 50%;
}

/* menu abierto -------------------------------------------------------------------------------------------------- */
.start .section-container header nav {
    width: 130px;
    height: 220px;
    position: fixed;
    margin-left: 60px;
    background-color: #546455d9;
    border: #546455 solid;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
    box-shadow: 12px 12px 2px 1px rgba(84, 87, 34, 0.2)
}

.start .section-container header nav a {
    display: block;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
    transition: .3s;
}

.start .section-container header nav a:hover {
    display: block;
    color: rgb(150, 150, 152);
    font-size: 21px;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
    transition: .3s;
}


/* letra de cancion que se reproduce--------------------------------------------------------------------------- */
marquee {
    color: white;
}

marquee p {
    text-shadow: 2px 2px 2px black;
}


/* Musica que se reproduce al principio ------------------------------------------------------------------------*/
.content-Player {
    width: 130px;
    position: absolute;
    margin-top: 9px;
    text-align: center;
}

.boton-Player {
    background-color: transparent;
    margin: -7px 2px;
    padding-top: -2px;
    border-color: transparent;
    font-size: 20px;
    color: white;
}

.boton-Player:hover {
    background-color: transparent;
    color: rgb(150, 150, 152);
    margin: -7px 2px;
    padding-top: -2px;
    border-color: transparent;
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
    font-size: 21px;
    transition: 0.3s;
    color: white;
}

/* --------------------------------termina menu----------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */



/* contenedor de Nos casamos ------------------------------------------------------------------------------------------------------------------------------ */
.start .section-container header .contenedor-NosCasamos-Logo {
    position: relative;
    display: inline-block;
    text-align: center;
    
    /* margin-top: 50px;
    margin-left: 160px;
    max-width: 500%;
    max-height: 500%;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.start .section-container header .Imagen-MensajeInicial {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-left: -450px;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0));
}

.start .section-container header .contenedor-NosCasamos-Logo .contenedor-LetrasTitulo{
    position: absolute;
    top: 105%;
    left: -50%;
    transform: translate(-50%, -50%);
}

.start .section-container header .contenedor-NosCasamos-Logo .logo p {
    font-weight: bold;
    font-size: 5rem;
    font-family: "Alex Brush", serif;
    color: #546455;
    -webkit-text-stroke: #354936 0.1px;
    filter: drop-shadow(5px 5px 5px #031206);
}

/* color del corazon donde estan los nombres de los novios */
.start .section-container header .logo .colorCorazon {
    color: #546455;
    margin-left: 5%;
    margin-right: 5%;
}

.start .section-container header .contenedor-NosCasamos-Logo .lineStartName {
    margin-top: 50px;
    position: relative;
    font-family: "Alex Brush", serif;
    font-size: 700%;
    font-weight: bold;
    color: #546455;
    border-right: 2px solid rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    letter-spacing: 2px;
    -webkit-text-stroke: #354936 0.1px;
    filter: drop-shadow(5px 5px 5px #031206);
}

.start .section-container header .contenedor-NosCasamos-Logo .letraInicial {
    font-weight: bold;
    font-size: 6rem;
    font-family: "Alex Brush", serif;
    color: #546455;
    -webkit-text-stroke: #354936 0.1px;
}

/* Animation StartMainName*/
.start .section-container header .contenedor-NosCasamos-Logo .anim-typewriterStartName {
    animation:
        typewriter 4s steps(28) 2s 1 normal both,
        blinkTextCursor .5s steps(28) infinite normal;
    filter: drop-shadow(0 2px 5px #354936);
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 8em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

/* acomodo de la imagen esquinera superior derecha --------------------------------------------------------------------------------*/
.start .section-container header .contenedor-imagenEsquinera {
    display: flex;
    justify-content: right;
    max-width: 50%;
    object-fit: cover;
    display: block;
}

/* tamaño de la imagen */
.start .section-container header .contenedor-imagenEsquinera .imagenEsquinera {
    width: 350px;
    height: 350px;
    filter: drop-shadow(7px 17px 5px rgba(0, 0, 0, 0));
}

/* ----Termina Header-------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------ */


















/* Responsive ---------------------------------------------------------------------------------------------------------- */
/*  -------------------------------------------------------------------------------------------------------------------- */
/*  -------------------------------------------------------------------------------------------------------------------- */


@media screen and (max-width:950px) {

    * {
        font-family: "Titillium Web";
        margin: 0;
        padding: 0;
    }

    html {
        scroll-behavior: smooth;
        margin-left: 00px;
        margin-right: 00px;
    }

    body {
        zoom: 110%;
        
    }

    /* Comienzo de magia------------------------------------------------------------------------------------------------------------------------- */
    .start {
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
            url("../images/images/fondo_de_pagina.png");
        background-size: cover;
        background-position: center center;
        color: #fff;
    }

    .start {
        animation-duration: 2s;
        animation-name: slide-in;
        animation-iteration-count: 1;
        animation-direction: initial;
    }

    @keyframes slide-in {
        from {
            margin-left: 100%;
            width: 300%;
        }

        to {
            margin-left: 0%;
            width: 100%;
        }
    }

    .start .section-container {
        max-width: 20000px;
        height: 5000px;
        margin: auto;
        text-align: center;
        padding: 0px 10px;
    }

    .start .section-container header {
        display: flex;
        padding: 10px 0px 15px 0px;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;

    }


    /* Menu cerrado-----------------------------------------------------------------------------------------------*/
    /* -----------------------------------------------------------------------------------------------------------*/
    .start .section-container header .nav-bar {
        position: fixed;
        display: flex;
        justify-content: center;
        background-color: #546455;
        font-size: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: #3a4b3b 0.06px solid;
        line-height: 50px;
        cursor: pointer;
        transition: .3s;
        box-shadow: 2px 2px 20px 5px rgba(67 68 52 / 78%)
    }

    .start .section-container header .nav-bar:hover {
        box-shadow: 0 0 20px #fff;
        width: 55px;
        height: 55px;
        border-radius: 50%;
    }

    /* menu abierto -------------------------------------------------------------------------------------------------- */
    .start .section-container header nav {
        width: 130px;
        height: 220px;
        position: fixed;
        margin-left: 60px;
        background-color: #546455d9;
        border: #546455 solid;
        padding: 30px;
        border-radius: 10px;
        text-align: left;
        z-index: 99;
        display: none;
        box-shadow: 12px 12px 2px 1px rgba(84, 87, 34, 0.2)
    }

    .start .section-container header nav a {
        display: block;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        margin-bottom: 10px;
        font-weight: bold;
        transition: .3s;
    }

    .start .section-container header nav a:hover {
        display: block;
        color: rgb(150, 150, 152);
        font-size: 21px;
        text-decoration: none;
        margin-bottom: 10px;
        font-weight: bold;
        transition: .3s;
    }


    /* letra de cancion que se reproduce--------------------------------------------------------------------------- */
    marquee {
        color: white;
    }

    marquee p {
        text-shadow: 2px 2px 2px black;
    }


    /* Musica que se reproduce al principio ------------------------------------------------------------------------*/
    .content-Player {
        width: 130px;
        position: absolute;
        margin-top: 9px;
        text-align: center;
    }

    .boton-Player {
        background-color: transparent;
        margin: -7px 2px;
        padding-top: -2px;
        border-color: transparent;
        font-size: 20px;
        color: white;
    }

    .boton-Player:hover {
        background-color: transparent;
        color: rgb(150, 150, 152);
        margin: -7px 2px;
        padding-top: -2px;
        border-color: transparent;
        text-shadow: 2px 2px 2px black;
        cursor: pointer;
        font-size: 21px;
        transition: 0.3s;
        color: white;
    }
    /* --------------------------------termina menu----------------------------------------------------------------- */
    /* ------------------------------------------------------------------------------------------------------------- */


    /* contenedor de Nos casamos ------------------------------------------------------------------------------------------------------------------------------ */
    
    .start .section-container header .contenedor-NosCasamos-Logo {
        position: relative;
        display: inline-block;
        text-align: center;
       
        /* width: 100px;
        height: 300px;
        display: flex;
        margin-left: 66px;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        justify-content: flex-start; */
    }

    .start .section-container header .Imagen-MensajeInicial {
        width: 80px;
        height: 80px;
        margin-top: 24px;
        margin-left: -50px;
        filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0));
    }

    .start .section-container header .contenedor-NosCasamos-Logo .contenedor-LetrasTitulo{
        position: absolute;
        top: 90%;
        left: -24%;
        transform: translate(-50%, -50%);
    }

    .start .section-container header .contenedor-NosCasamos-Logo .logo p {
        font-weight: bold;
        font-size: 1.5rem;
        font-family: "Alex Brush", serif;
        color: #546455;
        -webkit-text-stroke: black 0.1px;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    }

    .start .section-container header .contenedor-NosCasamos-Logo .letraInicial {
        font-weight: bold;
        font-size: 2.3rem;
        font-family: "Alex Brush", serif;
        color: 546455;
        -webkit-text-stroke: black 0.1px;
    }

    /* color del corazon donde estan los nombres de los novios */
    .start .section-container header .logo .colorCorazon {
        color: #546455;
        margin-left: 5%;
        margin-right: 5%;
    }


    .start .section-container header .contenedor-NosCasamos-Logo .lineStartName {
        margin-top: 25px;
        position: relative;
        font-family: "Alex Brush", serif;
        font-size: 160%;
        font-weight: bold;
        color: #546455;
        border-right: 2px solid rgba(255, 255, 255, .75);
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-50%);
        letter-spacing: 2px;
        -webkit-text-stroke: black 0.1px;
    }

    /* Animation StartMainName*/
    .start .section-container header .contenedor-NosCasamos-Logo .anim-typewriterStartName {
        animation:
            typewriter 4s steps(28) 2s 1 normal both,
            blinkTextCursor .5s steps(28) infinite normal;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    }

    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 9.5em;
        }
    }

    @keyframes blinkTextCursor {
        from {
            border-right-color: rgba(255, 255, 255, .75);
        }

        to {
            border-right-color: transparent;
        }
    }

    /* acomodo de la imagen esquinera superior derecha --------------------------------------------------------------------------------*/
    

    /* tamaño de la imagen */
    .start .section-container header .contenedor-imagenEsquinera .imagenEsquinera {
        width: 125px;
        height: 125px;
        filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0));
    }

    /* ----Termina Header-------------------------------------------------------------------------------------------------------------------------- */
    /* ------------------------------------------------------------------------------------------------------------------------------ */


}